<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
        <a class="mdl-tabs__tab is-active" [class.active]="!filter" [routerLink]="['/Staff']">View All</a>
        <a class="mdl-tabs__tab" [class.active]="filter == 'manager'" [routerLink]="['/Staff', {filter: 'manager'}]">Managers</a>
        <a class="mdl-tabs__tab" [class.active]="filter == 'driver'" [routerLink]="['/Staff', {filter: 'driver'}]">Drivers</a>
        <a class="mdl-tabs__tab" [class.active]="filter == 'ironer'" [routerLink]="['/Staff', {filter: 'ironer'}]">Ironers</a>
    </div>

    <div class="mdl-tabs__panel">
        <staff-item [model]="staff" *ngFor="#staff of staff | async | filterStaff:filter"></staff-item>
    </div>
</div>
