<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col">
        <img src={{person.imageUrl}} alt="" />
    </div>
    <div class="mdl-cell mdl-cell--4-col">
        <form action="#" [(ngFormModel)]="profile" (ngSubmit)="save()">
            <div class="mdl-textfield mdl-js-textfield">
                Name
                <input class="mdl-textfield__input" ngControl="name" [(ngModel)]="person.name" type="text" id="Name">
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                Email
                <input class="mdl-textfield__input" ngControl="email" [(ngModel)]="person.email" type="text" id="Email">
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                Phone
                <input class="mdl-textfield__input" ngControl="phone" [(ngModel)]="person.phone" type="number" id="Phone">
            </div>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">
                Submit
            </button>
        </form>
    </div>
</div>
