<div style="width: 600px">
    <form class="order-form" [ngFormModel]="order" (submit)="submit($event)">
        <input class="order-form__input" ngControl="name" type="text" placeholder="Name">
        <input class="order-form__input" ngControl="email" type="email" placeholder="Email">
        <input class="order-form__input" ngControl="phone" type="text" placeholder="Phone">
        <input class="order-form__input" ngControl="address" type="text" placeholder="Address">
        <textarea class="order-form__input" rows="6" style="height: 300px;" ngControl="message" type="text" placeholder="Message"></textarea>
        <button class="order-form__button" type="button">Submit</button>
    </form>
</div>