<header class="header">
    <div class="g-row">
        <img src="WLILogo2016land.png" alt="We Love Ironing" width="150" />

        <ul class="header__links">
            <li *ngIf="authenticated"><a class="header__link" (click)="signOut()" href="javascript:">Sign out</a></li>
            <li><a class="header__link" href="http://www.weloveironing.com.au/">Go Back</a></li>
        </ul>
    </div>
</header>

<div class="col-md-4">
    <form class="form" [ngFormModel]="order" (submit)="submit($event)">
        <input class="form-control" ngControl="name" type="text" placeholder="Name">
        <input class="form-control" ngControl="email" type="email" placeholder="Email">
        <input class="form-control" ngControl="phone" type="text" placeholder="Phone">
        <input class="form-control" ngControl="address" type="text" placeholder="Address">
        <textarea class="form-control" rows="6" ngControl="message" placeholder="Message"></textarea>
        <button class="button pull-right" type="submit">Submit</button>
    </form>
</div>
