//===================================================================
//  SETTINGS
//===================================================================

$base-background-color: #ffffff !default;
$base-font-color: #555 !default;
$base-font-family: 'Open Sans', sans-serif, Helvetica Neue, Arial !default;
$base-font-size: 16px !default;
$base-line-height: 20px !default;


//===============================================
//  GRID
//===============================================
$grid-max-width: 810px !default;
