<div class="mdl-list__item mdl-list__item--three-line">
    <span class="mdl-list__item-primary-content">
        <img *ngIf="model.imageUrl" class="mdl-list__item-avatar" src={{model.imageUrl}} alt="" />
        <i *ngIf="!model.imageUrl" class="material-icons mdl-list__item-avatar">person</i>
        <span>
            {{ model.name }}          
        </span>
    <span class="mdl-list__item-text-body">
          <div>{{model.address}} </div>
          <div>{{model.phone}}, {{model.email}}, {{model.twitter}} </div>
      </span>
    </span>
    <span>
        <md-menu>
            <button class="mdl-button mdl-js-button mdl-button--raised">
                {{model.role}}
            </button>
            <md-menu-content>
                <button md-button (click)="setRole('manager')">manager</button>
                <button md-button (click)="setRole('driver')">driver</button>
                <button md-button (click)="setRole('ironer')">ironer</button>
            </md-menu-content>
        </md-menu>
    </span>
    <span class="mdl-list__item-secondary-content">
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" (click)="delete()">
            <i class="material-icons">delete</i>
        </button>
    </span>
</div>