<div mdl class="mdl-list__item mdl-list__item--three-line">
    <span class="mdl-list__item-primary-content">
        <img *ngIf="model.imageUrl" class="mdl-list__item-avatar" src={{model.imageUrl}} alt="" />
        <i *ngIf="!model.imageUrl" class="material-icons mdl-list__item-avatar">person</i>
        <span>
            {{ model.name }}          
        </span>
    <span class="mdl-list__item-text-body">
          <div>{{model.address}} </div>
          <div>{{model.phone}}, {{model.email}}, {{model.twitter}} </div>
      </span>
    </span>
    <span>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect" [ngClass]="{'mdl-button--raised mdl-button--accent': model.role === 'manager'}" 
            (click)="setRole('manager')">
            Manager
        </button>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect" [ngClass]="{'mdl-button--raised mdl-button--accent': model.role === 'driver'}"
            (click)="setRole('driver')">
            Driver
        </button>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect" [ngClass]="{'mdl-button--raised mdl-button--accent': model.role === 'ironer'}"
            (click)="setRole('ironer')">
            Ironer
        </button>
    </span>
    <span class="mdl-list__item-secondary-content">
        <span>
      <button class="mdl-button mdl-js-button mdl-button--fab" *ngIf="!editing" (click)="delete()">
            <i class="material-icons">delete</i>
        </button>
    </span>
    </span>
</div>
