<div class="mdl-grid">
    <div class="mdl-card mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand">
            <div>
                <h5>{{ model.name }}</h5>
                <br>{{model.phone}}, {{model.address}}</div>
        </div>
        <div class="mdl-card__supporting-text">
            <p>{{model.message}}</p>
            Assigned To: {{model.assignedTo}}
        </div>
        <div class="mdl-card__actions">
            <md-menu>
                <button class="mdl-button mdl-js-button mdl-button--raised">
                    Assign Driver
                </button>
                <md-menu-content>
                    <button *ngFor="#driver of userStore.user | async | filterStaff:'driver'" md-button (click)="assignDriver(driver.name)">{{driver.name}}</button>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
</div>