<div [ngClass]="{'price-item--completed': model.completed, 'price-item--editing': editing}" class="price-item" tabindex="0">

<div class="cell">
    <div class="cell">
        <button *ngIf="editing" (click)="stopEditing()" aria-label="Cancel editing" class="price-item__button" type="button">
            <span class="icon material-icons">&#xe14c;</span>
        </button>
        <button *ngIf="!editing" (click)="editPrice()" aria-label="Edit price" class="price-item__button" type="button">
            <span class="icon material-icons">edit</span>
        </button>
    </div>

    <div class="price-item__name" tabindex="1">
        {{ model.name }} - 
    </div>
    <div class="cell">
        <div *ngIf="!editing" class="price-item__name" tabindex="0">
            {{ model.price | CurrencyPipe}}
        </div>
        <form class="price-form" *ngIf="editing" (ngSubmit)="saveTitle()" novalidate>
            <input (blur)="stopEditing()" (keyup.escape)="stopEditing()" ngControl="price" [(ngModel)]="price" autocomplete="off" autofocus
            class="price-item__input" type="number" min="1" step="any">
        </form>
    </div>
</div>
    
